.App {
  text-align: center;
}

nav ul {
  display: flex;
  background-color: rgb(14, 63, 86);
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(77, 77, 77, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
}
nav ul li a {
  text-decoration: none;
  color: #ececec;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}
